<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Boilerplate</title>
  <meta name="description" content="Boilerplate">
  <meta name="author" content="Stefan Midjich">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/boilerplate.css">

</head>
<body>

  <div class="container">
    <noscript>
      <div class="row">
        <div class="six columns msgbox msgbox-error" id="javascript-error">
          <p>Denna sidan kräver Javascript, du måste aktivera Javascript i din webbläsare för att fortsätta.</p>
        </div>
      </div>
    </noscript>

    <div class="row" id="main-content">
      <div class="two-thirds column">
        <h4>Boilerplate</h4>
        <p>Hello world</p>
        <p id="api-call-result">Hello <span id="client-ip"></span>, I believe you've been here <span id="client-count"></span> times.</p>
      </div>
    </div>

  </div>

  <script src="https://code.jquery.com/jquery-1.12.2.min.js"></script>
  <script src="/static/js/boilerplate.js"></script>

</body>
</html>

